classpath
.project
.DS_Store
soap.xml
soap.txt
.idea
.iml
*/target/*
target/*
*.iml
.settings
# Compiled class file
*.class

# Log file
*.log
*.log.json

# BlueJ files
*.ctxt


# Package Files #
*.war
*.ear
*.zip
*.tar.gz
*.rar


# dependencies
/node_modules

# testing
/coverage

# production
/build
/dist

# misc
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

